header {
    background-color: gray;
    
    
}


.caixa {
    width: 980px;
    position: relative ;
    margin: 0 auto;
}


nav {
    position: absolute;
    top: 110px;
    right: 0;
    
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 0 15px;
}

nav a:hover{
    text-decoration: underline;
    color: brown;
}



footer {
    text-align: center;
    background-image: url(bg.jpg);
    padding: 40px 0;
    color: aliceblue;
    font-weight: bold;
}

main {
    width: 960px;
    margin: 0 auto; 
}

form {
    margin: 40px 0;
    
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 15px;
    width: 50%;
}