@charset "UTF-8";






header {
    background-color: gray;
    
    
}


.caixa {
    width: 980px;
    position: relative ;
    margin: 0 auto;
}


nav {
    position: absolute;
    top: 110px;
    right: 0;
    
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 0 15px;
}

nav a:hover{
    text-decoration: underline;
    color: brown;
}


.produtos {
    position: relative;
    display: inline-block;
    border: 2px solid black;

}