@charset "UTF-8";






header {
    background-color: gray;
    
    
}


.caixa {
    width: 980px;
    position: relative ;
    margin: 0 auto;
}


nav {
    position: absolute;
    top: 110px;
    right: 0;
    
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
    margin: 0 0 0 15px;
}

nav a:hover{
    text-decoration: underline;
    color: brown;
}

.produtos {
    width: 960px;
    margin: 0 auto;
    padding: 50px 0px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos p {
    padding: 10px 0;
   
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.0%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.preço {
    font-size: 25px;
    font-weight: bold;
}

.desc {
    font-size: 18px;
}